*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(202, 202, 202);
}

#nav-div{
    padding: 10px;
    padding-bottom: 15px;
}

#nav-bar{
    position: sticky;
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 5px;
}

#nav-bar a{
    text-decoration: none;
    color: white;
    font-weight: bolder;
}

#nav-items{
    word-spacing: 20px;
}

#urvora{
    font-size: larger;
}

